@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .dashboard-card {
    @apply bg-white rounded-xl shadow-sm p-6;
  }
  
  .card-header {
    @apply flex justify-between items-center mb-4;
  }
  
  .card-title {
    @apply text-xl font-bold;
  }
  
  .icon-bg {
    @apply p-2 rounded-full;
  }
  
  .icon-bg.orange {
    @apply bg-orange-500;
  }
  
  .icon-bg.yellow {
    @apply bg-yellow-500;
  }
  
  .icon-bg.blue {
    @apply bg-blue-500;
  }
  
  .icon-bg.green {
    @apply bg-green-500;
  }
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



